[submodule "python"]
	path = python
	url = git://github.com/meichlseder/ascon-py.git
[submodule "c"]
	path = c
	url = git://github.com/ascon/crypto_aead.git
[submodule "java"]
	path = java
	url = git://github.com/ascon/javaascon.git
