[submodule "python"]
	path = python
	url = ../../meichlseder/ascon-py.git
	branch = master
[submodule "java"]
	path = java
	url = ../javaascon.git
	branch = master
[submodule "hardware"]
	path = hardware
	url = ../../IAIK/ascon_hardware
	branch = master
[submodule "ascon-c"]
	path = c
	url = ../ascon-c.git
	branch = main
[submodule "verilog"]
	path = verilog
	url = git@github.com:rprimas/ascon-verilog.git
[submodule "php"]
	path = php
	url = https://github.com/brainfoolong/php-ascon
[submodule "javascript_typescript"]
	path = javascript_typescript
	url = https://github.com/brainfoolong/js-ascon
